In [1]:
import pandas as pd
import numpy as np

In [6]:
adult_aggregate = pd.read_csv("raw/MTUS-adult-aggregate.csv", low_memory = False)
adult_episode = pd.read_csv("raw/MTUS-adult-episode.csv", low_memory = False)
child_aggregate = pd.read_csv("raw/MTUS-child-aggregate.csv", low_memory = False)
child_episode = pd.read_csv("raw/MTUS-child-episode.csv", low_memory = False)
simple = pd.read_csv("raw/MTUS-simple.csv", low_memory = False)

In [7]:
simple

,countrya,survey,msamp,hldid,persid,id,day,month,year,hhldsize,...,compint,goout,leisure,missing,restrnt,eatatwrk,compgame,caretrav,sppart,propwt
0,2,1974,0,0,1001,1,2,4,1974,5,...,0,85.0,20.0,0.0,0.0,30,0,0,420,0.963740
1,2,1974,0,0,1002,1,6,3,1974,3,...,0,0.0,110.0,0.0,0.0,20,0,0,250,0.510215
2,2,1974,0,0,1003,1,5,4,1974,2,...,0,0.0,165.0,0.0,0.0,0,0,0,395,0.768408
3,2,1974,0,0,1004,1,4,4,1974,3,...,0,15.0,15.0,0.0,15.0,35,0,0,250,0.510215
4,2,1974,0,0,1005,1,3,4,1974,3,...,0,0.0,25.0,0.0,0.0,45,0,65,125,0.693893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810603,38,2003,0,999990398540913,20080201081828,1,5,2,2008,5,...,0,0.0,0.0,0.0,0.0,0,0,15,150,1.288534
810604,38,2003,0,999990398540913,20081009081775,1,6,10,2008,3,...,0,145.0,15.0,0.0,0.0,0,0,0,236,1.250602
810605,38,2003,0,999990642340652,20031009032141,1,6,10,2003,3,...,0,65.0,60.0,0.0,65.0,0,0,5,138,1.295860
810606,38,2003,0,999990642340730,20101211102233,1,4,12,2010,2,...,20,0.0,110.0,0.0,0.0,0,0,0,490,1.584723
810607,38,2003,0,999990668870952,20060605061485,1,5,6,2006,1,...,0,115.0,193.0,0.0,115.0,0,0,0,0,1.426069

In [8]:
adult_aggregate

,countrya,survey,swave,msamp,hldid,persid,id,parntid1,parntid2,partid,...,av35,av36,av37,av38,av39,av40,av41,sppart,ocombwt,propwt
0,2,1974,0,0,0,1001,1,-9,-9,-9,...,10,0,0,0,0,0,0,420,8.486000e-01,0.963740
1,2,1974,0,0,0,1002,1,-9,-9,-9,...,40,0,20,0,0,0,0,250,8.486000e-01,0.510215
2,2,1974,0,0,0,1003,1,-9,-9,-9,...,40,15,40,0,70,0,0,395,9.842000e-01,0.768408
3,2,1974,0,0,0,1004,1,-9,-9,-9,...,0,0,15,0,0,0,0,250,8.486000e-01,0.510215
4,2,1974,0,0,0,1005,1,-9,-9,-9,...,25,0,25,0,0,0,0,125,8.486000e-01,0.693893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513922,38,2003,0,0,999990398540913,20080201081828,1,-7,-7,2,...,-9,0,0,0,0,0,0,150,5.581869e+06,1.288534
513923,38,2003,0,0,999990398540913,20081009081775,1,-7,-7,2,...,-9,0,0,0,0,0,0,236,2.493866e+07,1.250602
513924,38,2003,0,0,999990642340652,20031009032141,1,-7,-7,2,...,-9,0,0,60,0,0,0,138,5.637854e+06,1.295860
513925,38,2003,0,0,999990642340730,20101211102233,1,-7,-7,2,...,-9,20,60,0,0,30,0,490,1.549309e+07,1.584723
513926,38,2003,0,0,999990668870952,20060605061485,1,-7,-7,-7,...,-9,30,0,120,0,0,0,0,4.072492e+06,1.426069

In [9]:
adult_episode

,countrya,survey,swave,msamp,hldid,persid,id,day,cday,month,...,sec,av,inout,eloc,ict,mtrav,alone,child,sppart,oad
0,2,1974,0,0,0,1001,1,2,8,4,...,69,1,1,3,-9,-7,1,0,0,0
1,2,1974,0,0,0,1001,1,2,8,4,...,58,5,3,8,-9,1,1,0,0,0
2,2,1974,0,0,0,1001,1,2,8,4,...,69,8,1,1,-9,-7,1,0,0,0
3,2,1974,0,0,0,1001,1,2,8,4,...,69,35,1,1,-9,-7,1,0,0,0
4,2,1974,0,0,0,1001,1,2,8,4,...,69,15,1,1,-9,-7,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11501216,38,2003,0,0,999990668870952,20060605061485,1,5,15,6,...,69,17,3,8,0,1,0,0,0,0
11501217,38,2003,0,0,999990668870952,20060605061485,1,5,15,6,...,69,38,1,1,0,-7,0,0,0,0
11501218,38,2003,0,0,999990668870952,20060605061485,1,5,15,6,...,69,13,1,1,0,-7,0,0,0,0
11501219,38,2003,0,0,999990668870952,20060605061485,1,5,15,6,...,69,31,1,1,0,-7,1,0,0,0
11501220,38,2003,0,0,999990668870952,20060605061485,1,5,15,6,...,69,16,1,1,0,-7,0,0,0,0

In [3]:
import os

In [4]:
os.getlogin()

'ruixueli'

In [7]:
os.uname()[0]

'Darwin'